<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <header>
            <h1>Employee Management System</h1>
            <p>Manage your employees easily</p>
        </header>

        <section class="card">

            <h2>Add Employee</h2>

            <form method="POST">

                <div class="form-grid">

                    <input
                        type="text"
                        name="employee_id"
                        placeholder="Employee ID"
                        required
                    >

                    <input
                        type="text"
                        name="name"
                        placeholder="Employee Name"
                        required
                    >

                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        required
                    >

                    <input
                        type="text"
                        name="department"
                        placeholder="Department"
                        required
                    >

                    <input
                        type="number"
                        name="salary"
                        placeholder="Salary"
                        required
                    >

                </div>

                <button type="submit">
                    Add Employee
                </button>

            </form>

        </section>


        <section class="card">

            <h2>Employee List</h2>

            {% if employees %}

            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Salary</th>
                    </tr>
                </thead>

                <tbody>

                    {% for employee in employees %}

                    <tr>
                        <td>{{ employee.employee_id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.department }}</td>
                        <td>₹{{ employee.salary }}</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            {% else %}

            <p class="empty">
                No employees added yet.
            </p>

            {% endif %}

        </section>

    </div>

</body>
</html>